.calc {
    width: 30%;
}
#field {
    font: 150% sans-serif;
}
#action {
    width: 2.5%;
}
.lbs {
    border: none;
    background: none;
}

#info > p {
    font: 120% sans-serif;
}

div {
    margin: 5px;
}

.buttons > input {
    margin: 1px;
    width: 32.6%;
}
.buttons > button {
    margin: 1px;
    width: 18.6%;
}